################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Nowy folder
/.vs
/BandwidthMonitor/obj/Debug
/BandwidthMonitor/obj/Release
/BandwidthMonitor/bin/Release
/BandwidthMonitor/bin/Debug
